body {
    font-family: 'Courier New', Courier, monospace;
    background-color: cadetblue;
}
.box {
    margin: auto;
    padding: 3vmin;
    background-color: aquamarine;
}
.hello {
    font-size: 16vmin;
    font-weight: 800;
    text-transform: capitalize;
    color: chocolate;
}
